body{
    color: deeppink;
    text-align: center;
    font-family: cursive;
}

<<<<<<< HEAD
header{
    background-image: url(../imagenes/vlcsnap-2020-03-22-06h04m38s778.png);
    height: 300px;
}
header h2{
    padding-top: 50px;
   
=======
footer{

    background-image: url(../imagenes/Warframe0000.jpg);
    height: 500px;
}
footer h3{
    color: goldenrod;
    padding-top: 250px;
>>>>>>> footer
}